<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
    <meta name="description" content="Site gratuit permettant aux utilisateurs de voir l'actualité de counter strike dans son ensemble. Permet aussi à des équipes d'organiser des rencontres amicales et des entraînements">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="La Tartiflex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="FR">
	

    
    <title>Counter Stats</title>


    <!-- Jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

	<!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/Coach.css">
    <link rel="icon" href="../static/ressource/icon.png">
</head>

<body class="bg-secondary">

    <script src="../scripts/coach.js"></script>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="/">CounterStats</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-center collapse navbar-collapse text-center" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
			<div id="menu">
				<ul>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/team">Team</a></li>
					<!-- <li><a href="#">Stats</a></li> -->
					<li><a href="/logout">Logout</a><li>
				</ul>
			</div>
	
        </nav>
    </header>
    
    <main role="main" class="container">
		<form>           

            <div class="form-group">
				<h1 id="cocolasticot" style="text-align: center; color: white;">Create Training</h1>
                <br>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Goal</div>
                    </div>
                    <input type="text" class="form-control" id="goal" placeholder="...">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date</div>
                    </div>
                    <input type="date" class="form-control" id="date" placeholder="jj/mm/année">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Time</div>
                    </div>
                    <input type="time" class="form-control" id="time" placeholder ="hh:mm">
                </div>
				
			</div>
			<button id="submit" type="button" class="btn btn-success">Create Training</button>
					
        </form>
    </main>


</body>

</html>
