<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
    <meta name="description" content="Site gratuit permettant aux utilisateurs de voir l'actualité de counter strike dans son ensemble. Permet aussi à des équipes d'organiser des rencontres amicales et des entraînements">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="La Tartiflex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="FR">
    
    <title>Counter Stats</title>

    <!-- Mock  -->
    <!-- <script type="text/javascript" src="../scripts/userMock.js"></script> -->

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="icon" href="../static/ressource/icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">

</head>

<body>

    <script src="../scripts/createAccount.js"></script>

    <header>
        <nav>
            <a href="/"><img src="../static/ressource/logoconterstats.png"></a>
            <div class="justify-content-center collapse navbar-collapse text-center" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
        </nav>
    </header>
    
     <main role="main" class="container">
        <form>           
            <div class="form-group">
                <h1 id="cocolasticot" style="text-align: center; color: grey;">Sign up </h1>
                <br>
                <input type="pseudo" class="form-control" id="pseudo" placeholder="pseudo">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirm_password" placeholder="confirm password">
            </div>

                <!-- ERROR CSS -> createAccount.css-->
            <div id="error">
                <p id="pError" class="alert alert-danger"></p>
            </div>

            <button id="submit" type="button" class="btn btn-success" disabled>Sign up</button>

			
        </form>
        <br>
        <div id="result"></div>
    </main>
    <video autoplay muted loop id="Video"><source src="../static/Sign%20in%20background.mp4"></video>
</body>
    

