<!DOCTYPE html>
<html lang="fr">

    <head>
    
        <meta charset="utf-8">
        <meta name="description" content="Site gratuit permettant aux utilisateurs de voir l'actualité de counter strike dans son ensemble. Permet aussi à des équipes d'organiser des rencontres amicales et des entraînements">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="La Tartiflex">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="language" content="FR">
        
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link rel="icon" href="../static/ressource/icon.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/home.css">
        
    
    </head>
    
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-dark fixed-top">
                <a class="logoCounterStats" href=""><img class="logoCounterStats" src="../static/ressource/logoconterstats.png"></a>
                <a href="login" style="margin-right: 1%"><button class="btn btn-outline-danger">Sign in</button></a>
                <a href ="createaccount"><button class="btn btn-outline-success">Sign up</button></a>
            </nav>
        </div>
        
            
        
            <div class="container">
                <h3 style="margin-top: 10%; margin-left: 1%; margin-bottom: 3%; color: grey;">ANNONCES :</h3>
                <div class="blog">
                    <h2>Welcome to the Danger Zone</h2>
                    <img src="../static/ressource/denonciation.jpg">
                    <hr>
                    <p>Introducing Danger Zone — a fast-paced battle royale game mode built on CS:GO’s tactical gameplay where players use their wits, skill, and resources to fight to the finish. Play solo, or work together as a squad of two or three!</p>
					<p>CS:GO is now FREE TO PLAY </p>
					<p>So there’s never been a better time to bring in your friends.</p>
					<p>All players who played CS:GO before today’s update will receive a commemorative Loyalty Badge they can display on their profile. You were there from the beginning, so show it off! Additionally, all existing CS:GO players have had their accounts upgraded to Prime Status.</p>
					<p>As before, Prime Status matches you with other Prime Status players. Additionally, your Prime Status will give you access to the new Souvenir MP5-SD | Lab Rats (available by earning XP while playing Danger Zone matches) and the all new Danger Zone Case.</p>
					<p>Danger Zone Case<p>
					<p>The Danger Zone Case features 17 community-designed weapon finishes, and the Horizon knives as rare special items. Click here for more details.</p>
					<p>A new game mode, a new case, and CS:GO is free. What are you waiting for?</p>
					<p>GO! GO! GO!</p>
                    <footer>from <a href="https://store.steampowered.com/news/?appids=730" target="_blank">steam</a></footer>
                </div>
                <br>
                <div class="blog">
                    <h2>Valve doled out nearly six months' worth of bans after CS:GO went free to play</h2>
                    <img src="../static/ressource/hack.jpeg">
                    <hr>
                    <p>Counter-Strike: Global Offensive had one of its best ever months after going free to play, and a record number of VAC bans were doled out on Steam as a consequence. Over 600,000 accounts received VAC bans in December, with the first wave of bans happening days after CS:GO shed its price.</p> 

                    <p>Spotted by Nors3 on Twitter, five waves crushed naughty players throughout the month. Hundreds of games use Valve’s anti-cheat system, which ostensibly (if not always in reality) detects cheats and automatically bans the account in question from playing on VAC protected servers, but after CS:GO went free to play, the number of bans sky-rocketed.<p></p> 

                    <p>In November, only 103,743 accounts were banned, according to SteamDB. That’s around six times fewer than December, and it was a pretty standard month. The number of bans in a month has never broken 200,000 in 15 years, so it’s a significant leap to get past 600,000.</p>

                    <p>The move to free to play and the addition of a battle royale mode drew the ire of some existing players, who then review-bombed the game. Things have settled down since the initial reaction, however, with recent positive reviews outweighing the negative ones. </p>
                    
                    <footer>from <a href="https://store.steampowered.com/news/?appids=730" target="_blank">steam</a></footer>
                </div>
                <br>
                <div class="blog">
                    <h2>Counter-Strike: Global Offensive Christmas is go go go</h2>
                    <img src="../static/ressource/chicken.png">
                    <hr>
                    <p>We all know the coming of Christmas means the goose is getting fat, but what about the chicken? She’s warm and cosy, as Counter-Strike: Global Offensive has kicked off its festivities by giving chickens wee Christmas jumpers. These jumpers are #2 on the definitive ranking of CS:GO chicken costumes so that’s certainly something to celebrate. Other Christmas festivities include piles of snowballs in spawn points to lob at folks, the return of Militia’s snowy variant, giftwrapped C4, and a new coin trinket for veterans who’ve been Counter-Striking for ten years. But mostly it’s about the chickens.</p>
                    <footer>from <a href="https://store.steampowered.com/news/?appids=730" target="_blank">steam</a></footer>
                    
                </div>
        </div>
    </body>
