<!DOCTYPE html>
<html>
<body>

<h1>Test API</h1>

<div id="statsplay" style="width:100%;height:400px;"></div>

<!--<script>
	function chooseplayer(arg) {
		var statsplayer="http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0002/?appid=730&key=1B1CBB30F443EA35EF2F7B7ED4A63FDB&steamid="+arg;
		document.getElementById("sourceduscript").innerHTML = statsplayer;
}
</script>-->

<a href="sourceduscript"></a>

<script src="http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0002/?appid=730&key=1B1CBB30F443EA35EF2F7B7ED4A63FDB&steamid=76561198163719142"></script>
