

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: csFont, italic;
  width: 100%;
  height: auto;
  background: url(ressource/de_dust.png) no-repeat center center fixed;
  background-size: cover;
}




#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  }
 #menu li {
  float:left;
  margin:auto;
  padding:0;
   /* background-color:black; */
  }
 #menu li a {
  display:block;
  width:100px;
  color:white;
  text-decoration:none;
  padding:5px;
 
  }
 #menu li a:hover {
  color:#FFD700;
  }
  
  .navbar-brand { 
   font-style:200
  }

/* table for members */
table {
  border: 1px solid #666;   
    width: 30%;
}
th {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}

/* When no team => visible */
#noTeam{
    visibility: hidden;
    
  }
form{
    width: 100%;
    display: block; 
}